<div class="site-header row">
    <img class="background" src="{{ header.backgroundImage }}" />
    <img class="skyline" src="{{ header.skylineImage }}" />
    <header>
        <img class="logo" src="{{ header.logo }}" />
        <nav id="navigation">
            <ul class="nav nav-tabs">
                <li><a href="#about">About me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
</div>
