@import '../components/lesshat/build/lesshat';
@import url(//fonts.googleapis.com/css?family=Raleway:400,200,600|Fredericka+the+Great);
body {
   cursor: default;
   background-color: white;

   // text-shadow: 0 0 1px rgba(0,0,0,0.1);
   -webkit-font-smoothing: antialiased;
   filter:blur(0);
   -webkit-filter: blur(0); // Chrome bug: position relative causes text blurry
}
main {
   overflow: hidden;
}
@import "layout.desktop.less";
@import "layout.mobile.less";

/* Overwrite Bootstraps large grid size */
@media (min-width: 992px) {
   .container {
      width: 970px; // default: 1170px
   }
}

/* Feature #6: Page loading progress */
#site-progress {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 5px;
   width: 100%;
   z-index: 1000;
   div {
      opacity: 0;
      height: 5px;
      background-color: #3273c7;
      border-radius: 3px;
      .transition(opacity .3s ease-in-out, width .2s ease-in-out);
   }
}
